<h1>Users</h1>
<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.roles.first.name %></td>
        <td>
          <%= link_to "Make Admin", admin_path + '/' + user.id.to_s + '?role=admin', method: :PUT %>
          <%= link_to "Make Owner", admin_path + '/' + user.id.to_s + '?role=owner', method: :PUT%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
