// Place all the styles related to the Apartments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#apartment_map {
  height: 500px;
  width: 400px;
  border: 2px solid black;
}

#apartment_maps {
  height: 500px;
  width: 400px;
  border: 2px solid black;
}
